[Desktop Entry]
Name=Gesticle
Comment=Configurable gesture actions from libinput events
Exec=sudo -g input /usr/bin/gesticle
Terminal=false
Type=Application
Categories=
X-GNOME-Autostart-Phase=Initialization
NoDisplay=true
