[Desktop Entry]
Name=Gesticle daemon
Comment=Configurable gesture actions from libinput events
Exec=sudo -g input /usr/bin/gesticled
Terminal=false
Type=Application
Categories=
X-GNOME-Autostart-Phase=Initialization
NoDisplay=true
