[Desktop Entry]
Name=Gesticle configuration
Comment=Configurable gesture actions from libinput events
Exec=sudo -g input /usr/bin/gesticle-gui
Terminal=false
Type=Application
StartupNotify=true
Categories=Settings
